<!doctype html>
<html lang="en">
{% extends "projects/frame.html" %}
{% load static %}
{% block page_content %}

  <!-- PICTURE AND GREETINGS -->
  <div class="container about-me-header">
    <div class="row">
      <div class="col-md-7" id="myname">
        <h1>Yup, that's me...</h1>
        <h1>My name is Nadia Vedeneyeva</h1>
        <h1>and I am a Software Engineer</h1>
      </div>
      <div class="col-md-5" id="mypicture">
        <img src="{% static 'my_picture_400.jpg' %}">
      </div>
    </div>
  </div>

  <div class="container about">
    <section>
      <p>I am relatively new to the tech world. I wrote my first “Hello World” in the summer of 2018 at Stevens Institute of Technology, 
        where I attained Master’s Degree in Software Engineering. 
        During my time there I was introduced to several programing languages, databases, frameworks, processes, etc. 
        Well, it is all on my resume. What is not on my resume is that I am most passionate about Python. 
        It is my go-to language and I am working on building a career as a back-end developer. </p>
      <p></p>
      <p>Some fun facts about me…</p>
      <p>-	I hate writing about myself</p>
      <p>-	I am bilingual (English, Russian, some Ukrainian)</p>
      <p>-	I am “slightly” competitive</p>
      <p>-	I am a proud owner to the best pooch in 11223 named Molly</p>
      <p>-  I got sky diving and scuba diving under my belt</p>
      <p>-	I am hoping someday to conquer one of the Seven Summits (I have my eye on Kilimanjaro) </p>
    </section>
  </div>

{% endblock %}
</html>
