<!doctype html>
<html lang="en">
{% extends "projects/frame.html" %}
{% load static %}
{% block page_content %}

  {% block email_success %}
  {% endblock %}

  <!-- LINKS TO EMAIL GITHUB LINKEDIN -->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="card mb-4 shadow-sm" id="logo">
        <a href="mailto:nadiaveden@gmail.com">
          <img src="{% static 'email.png' %}" width=55>
          <p>Email</p>
        </a>
      </div>
      <div class="card mb-4 shadow-sm" id="logo">
        <a href="https://github.com/nadia-v">
          <img src="{% static 'GitHub-Mark-120px-plus.png' %}" width=50>
          <p>GitHub</p>
        </a>
      </div>
      <div class="card mb-4 shadow-sm" id="logo">
        <a href="https://www.linkedin.com/in/nadia-vedeneyeva-9396b1a9/">
          <img src="{% static 'linkedin.png' %}" width=50>
          <p>LinkedIn</p>
        </a>
      </div>
    </div>
  </div>

  <!-- QUICK MESSAGE FORM -->
  <div class="container" id="contact-me-2">
    <form role="form" action="" method="POST">
      {% csrf_token %}
      <input type="email" class="form-control" id="colFormLabel" placeholder="Enter email" name="sender">
      <input type="text" class="form-control" id="colFormLabel" placeholder="Subject" name="subject">
      <textarea type="text" class="form-control" id="colFormLabel" placeholder="Your message" name="message"></textarea>
      <button type="submit" class="btn btn-md btn-outline-secondary" id="submit">Submit</button>
    </form>
  </div>
 
{% endblock %}
</html>
